<style>
    div {
        padding-left: 15%;
        padding-right: 15%;
        padding-top: 5%;
    }

    tr, td {
        padding: 3px;
    }
</style>
<div>
    <h1>Top iMDB Movies</h1>
    <hr>
    <table>
        <thead>
        <tr>
            <th>Poster</th>
            <th>Title</th>
            <th>Year</th>
            <th align="right">Rating</th>
        </tr>
        </thead>


        <tbody>
        <tr *ngFor="let movie of movies" [MovieDetails]="movie">
            <mvdb-movie-short></mvdb-movie-short>
        </tr>
        </tbody>


    </table>
</div>