<div class="container">

    <div class="row">
        <div class="col-lg-4">
        </div>
        <div class="col-lg-4">
            <h1>{{pageTitle}}</h1>
        </div>
        <div class="col-lg-4">
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3">
        </div>
        <div class="col-lg-6">
            <label for="filter">Search</label>
            <input type="text" class="form-control input-sm" id="filter" [(ngModel)]="filteredBy"/>
        </div>
        <div class="col-lg-3">
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <label for="sort">Sort</label>
            <select class="form-control input-sm" id="sort" [(ngModel)]="sortedBy">
                <option *ngFor="let item of sortItems" [value]="item.value">
                    {{item.name}}
                </option>
            </select>
        </div>
        <div class="col-lg-6">
            <label for="order">Order</label>
            <select class="form-control input-sm" id="order" [(ngModel)]="orderedBy">
                <option *ngFor="let item of orderItems" [value]="item.value">
                    {{item.name}}
                </option>
            </select>
        </div>
    </div>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Poster</th>
            <th>Title</th>
            <th>Year</th>
            <th>Rating</th>
        </tr>
        </thead>

        <tbody>
        <tr *ngFor="let movie of movies | movieFilter: filteredBy | movieSort: sortedBy:orderedBy" [movie]="movie">
            <mvdb-movie-short></mvdb-movie-short>
        </tr>
        </tbody>
    </table>

</div>